@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Permanent+Marker&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    /* background-color: #0ba84786; */
    font-family: 'Permanent Marker', cursive;
    font-weight: 400px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
   
}
.banner{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://images.pexels.com/photos/235615/pexels-photo-235615.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#today, #time{
    color: #fff;
    font-size: 8rem;
}
#date{
    color: #fff;
    font-size: 4rem;

}
